/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: red;
}

.fc-day-sun {
  background-color: rgb(246, 236, 253);
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

.fc-day-sat {
  background-color: rgb(173, 185, 235);
}
